@import url('https://fonts.googleapis.com/css?family=Gudea');
@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Gudea');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-image: url(https://i.stack.imgur.com/dPltu.png);
}

.todo {
  display: inline-block;
}


.informacion {
  border: solid 1px black;
  background-color: white;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 10px;
}

.descrpicion {
  display: block;
  background-color: red;
}

header {
  display: block;
  text-align: center;
  background-size: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: rgb(30, 87, 153);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */
  background-size: contain;
  border-top: solid 4px black;
  border-left: none;
  border-right: none;
  font-size: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 7px;
}

li a:hover {
  background-color: #111;
}

.option {
  color: white;
  text-decoration: none;
  overflow: hidden;
  background-color: #333333;
}

.button {
  text-decoration: none;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  padding-right: 60px;
  display: block;
}
.exposiciones_button{
  text-decoration: none;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  padding-right: 60px;
  display: block;
}
.selected {
  text-decoration: none;
  background: none;
  border: none;
  color: yellow;
  font-size: 28px;
  padding-right: 60px;
  display: block;
}

p {
  background-color: white;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
}
.big_info{
  background-color: white;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
}

.foto {
margin-top: 10px;
display: block;
text-allign: center;
height: 40%;
width:60%;
margin-top:5%;
margin-bottom:5%;
margin-left:20%;
margin-right:20%;
}
.foto_carousel{
  width:100%;
  height:100%;
  margin: 0%;
}


/* galeria de fotos */

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  margin-left: -50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

* {
  box-sizing: border-box;
}
@media (max-width: 1340px) {
  .listanavegacion {
    text-decoration: underline;
    color: rgb(130, 7, 47);
    font-family: 'Merienda', cursive;
    padding-right: 20px;
    font-size: 43px;
    text-decoration: none;
    border-right: none;
    margin-right: 40px;
    margin-left: 20px;
  }
header {
display: block;
font-size: 15px;
}

.foto{
width:100%;
height:100%;
margin: 0%;

}
.selected {
  text-decoration: none;
  background: none;
  border: none;
  color: yellow;
  font-size: 20px;
  padding-right: 30px;
  display: block;
}

.big_info{
  background-color: white;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  font-size: 15px;
}
.foto_carousel{
  width:100%;
  height:100%;
}
.logos{
  width: 100px;
  height: 100px;
  display: inline;
}

}
